In [2]:
pip install pandas

Collecting pandas
  Downloading pandas-1.5.2-cp39-cp39-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (12.2 MB)
     |████████████████████████████████| 12.2 MB 2.1 MB/s eta 0:00:01
Collecting numpy>=1.20.3; python_version < "3.10"
  Downloading numpy-1.24.1-cp39-cp39-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (17.3 MB)
     |████████████████████████████████| 17.3 MB 2.0 MB/s eta 0:00:01    |█████████████▏                  | 7.1 MB 2.5 MB/s eta 0:00:05
Collecting pytz>=2020.1
  Using cached pytz-2022.7-py2.py3-none-any.whl (499 kB)
Requirement already satisfied: python-dateutil>=2.8.1 in /home/hdoop/.local/lib/python3.9/site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/lib/python3/dist-packages (from python-dateutil>=2.8.1->pandas) (1.14.0)
Installing collected packages: numpy, pytz, pandas
  WARNING: The scripts f2py, f2py3 and f2py3.9 are installed in '/home/hdoop/.local/bin' which is not on PATH.
  Consider adding this directory to PATH or, if you prefer to suppress this warning, use --no-warn-script-location.
Successfully installed numpy-1.24.1 pandas-1.5.2 pytz-2022.7
Note: you may need to restart the kernel to use updated packages.

In [3]:
import csv,json

csvFilePath="predictive_maintenance.csv"
jsonFilePath="Data_MachineIOT"
data={}
with open(csvFilePath) as csvFile:
    csvReader=csv.DictReader(csvFile)
    for rows in csvReader:
        id = rows["Product ID"]

        data[id]=rows

with open(jsonFilePath,'w') as jsonFile:
    jsonFile.write(json.dumps(data,indent=5))

In [4]:
import pandas as pd


df = pd.read_csv('predictive_maintenance.csv')
df

,UDI,Product ID,Type,Air temperature [K],Process temperature [K],Rotational speed [rpm],Torque [Nm],Tool wear [min],Target,Failure Type
0,1,M14860,M,298.1,308.6,1551,42.8,0,0,No Failure
1,2,L47181,L,298.2,308.7,1408,46.3,3,0,No Failure
2,3,L47182,L,298.1,308.5,1498,49.4,5,0,No Failure
3,4,L47183,L,298.2,308.6,1433,39.5,7,0,No Failure
4,5,L47184,L,298.2,308.7,1408,40.0,9,0,No Failure
...,...,...,...,...,...,...,...,...,...,...
9995,9996,M24855,M,298.8,308.4,1604,29.5,14,0,No Failure
9996,9997,H39410,H,298.9,308.4,1632,31.8,17,0,No Failure
9997,9998,M24857,M,299.0,308.6,1645,33.4,22,0,No Failure
9998,9999,H39412,H,299.0,308.7,1408,48.5,25,0,No Failure
9999,10000,M24859,M,299.0,308.7,1500,40.2,30,0,No Failure

In [7]:
df_M=df[(df.Type == "M")]
df_M

,UDI,Product ID,Type,Air temperature [K],Process temperature [K],Rotational speed [rpm],Torque [Nm],Tool wear [min],Target,Failure Type
0,1,M14860,M,298.1,308.6,1551,42.8,0,0,No Failure
5,6,M14865,M,298.1,308.6,1425,41.9,11,0,No Failure
8,9,M14868,M,298.3,308.7,1667,28.6,18,0,No Failure
9,10,M14869,M,298.5,309.0,1741,28.0,21,0,No Failure
12,13,M14872,M,298.6,309.1,1339,51.1,34,0,No Failure
...,...,...,...,...,...,...,...,...,...,...
9989,9990,M24849,M,298.8,308.5,1577,33.2,0,0,No Failure
9991,9992,M24851,M,298.9,308.4,1827,26.1,5,0,No Failure
9995,9996,M24855,M,298.8,308.4,1604,29.5,14,0,No Failure
9997,9998,M24857,M,299.0,308.6,1645,33.4,22,0,No Failure
9999,10000,M24859,M,299.0,308.7,1500,40.2,30,0,No Failure

In [6]:
df_H=df[(df.Type == "H")]
df_H

,UDI,Product ID,Type,Air temperature [K],Process temperature [K],Rotational speed [rpm],Torque [Nm],Tool wear [min],Target,Failure Type
10,11,H29424,H,298.4,308.9,1782,23.9,24,0,No Failure
11,12,H29425,H,298.6,309.1,1423,44.3,29,0,No Failure
18,19,H29432,H,298.8,309.2,1306,54.5,50,0,No Failure
20,21,H29434,H,298.9,309.3,1375,42.7,58,0,No Failure
27,28,H29441,H,299.1,309.4,1811,24.6,77,0,No Failure
...,...,...,...,...,...,...,...,...,...,...
9978,9979,H39392,H,298.6,308.3,1377,52.1,181,0,No Failure
9984,9985,H39398,H,298.7,308.4,1432,42.8,197,0,No Failure
9985,9986,H39399,H,298.7,308.5,1572,35.6,202,0,No Failure
9996,9997,H39410,H,298.9,308.4,1632,31.8,17,0,No Failure
9998,9999,H39412,H,299.0,308.7,1408,48.5,25,0,No Failure

In [8]:

df_L=df[(df.Type == "L")]
df_L

,UDI,Product ID,Type,Air temperature [K],Process temperature [K],Rotational speed [rpm],Torque [Nm],Tool wear [min],Target,Failure Type
1,2,L47181,L,298.2,308.7,1408,46.3,3,0,No Failure
2,3,L47182,L,298.1,308.5,1498,49.4,5,0,No Failure
3,4,L47183,L,298.2,308.6,1433,39.5,7,0,No Failure
4,5,L47184,L,298.2,308.7,1408,40.0,9,0,No Failure
6,7,L47186,L,298.1,308.6,1558,42.4,14,0,No Failure
...,...,...,...,...,...,...,...,...,...,...
9988,9989,L57168,L,298.9,308.6,1771,24.1,213,0,No Failure
9990,9991,L57170,L,298.8,308.5,1527,36.2,3,0,No Failure
9992,9993,L57172,L,298.8,308.4,1484,39.2,8,0,No Failure
9993,9994,L57173,L,298.8,308.4,1401,47.3,10,0,No Failure
9994,9995,L57174,L,298.8,308.3,1634,27.9,12,0,No Failure